<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" color="primary">
      <ion-back-button color="primary"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button *ngFor="let p of appPages" [routerLink]="p.url">
        <ion-icon slot="icon-only" name="person-circle" color="primary" [name]="p.icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <section class="content">
    <div class="avatar">
        <label for="logo" button class="new image" matRipple  (change)="changeAvatar($event)">
          <div class="image" matRipple>
            <img [src]="this.profilePhoto" alt="image">
          </div>
          <div class="hide">
            <ion-icon name="add"></ion-icon>
            <h1>Change avatar</h1>
          </div>
          <input id="logo" type="file" accept=".jpg, .png, .svg, .jpeg">
        </label>
    </div>
    <div class="info">
      <form class="basic">
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Name</mat-label>
          <input [(ngModel)]="data.name" matInput placeholder="Ex. Jhon Luis" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Username</mat-label>
          <input [(ngModel)]="data.username" matInput placeholder="Ex. Jhon77" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Phone</mat-label>
          <input [(ngModel)]="data.phone" matInput placeholder="Phone number" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Enter your email</mat-label>
          <input [(ngModel)]="data.email" matInput placeholder="pat@example.com"  [formControl]="email" required >
          <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="example-full-width">
          <mat-label>Website</mat-label>
          <input [(ngModel)]="data.website" matInput placeholder="Ex. website.com" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      </form>
      <form class="address">
        <ion-label color="primary">Addres</ion-label>
        <br>
        <mat-form-field class="example-full-width">
          <mat-label>Street</mat-label>
          <input matInput [(ngModel)]="data.address.street" [ngModelOptions]="{standalone: true}">
        </mat-form-field>   
        <mat-form-field class="example-full-width">
          <mat-label>Suite</mat-label>
          <input matInput [(ngModel)]="data.address.suite" [ngModelOptions]="{standalone: true}">
        </mat-form-field>   
      
        <table class="full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="full-width">
                <mat-label>City</mat-label>
              <input matInput placeholder="Ex. San Francisco" [(ngModel)]="data.address.city" [ngModelOptions]="{standalone: true}">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="full-width">
                <mat-label>Zip Code</mat-label>
                <input matInput #zipCode  placeholder="Ex. 94105" [(ngModel)]="data.address.zipcode" [ngModelOptions]="{standalone: true}">
                <mat-hint align="end">{{zipCode.value.length}} / 5</mat-hint>
              </mat-form-field>
            </td>
          </tr>
        </table>
        <ion-label color="primary">Company</ion-label>
        <br>
        <mat-form-field class="full-width">
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="data.company.name" [ngModelOptions]="{standalone: true}">
        </mat-form-field>     
        <mat-form-field class="full-width">
          <mat-label>Catch phrase</mat-label>
          <input matInput [(ngModel)]="data.company.catchPhrase" [ngModelOptions]="{standalone: true}">
        </mat-form-field>     
        <mat-form-field class="full-width">
          <mat-label>Bs</mat-label>
          <input matInput [(ngModel)]="data.company.bs" [ngModelOptions]="{standalone: true}">
        </mat-form-field>     
      </form>
    </div>
  </section>
      <ion-fab (click)="saveData()" vertical="bottom" color="primary" horizontal="end" slot="fixed">
        <ion-fab-button>
          <ion-icon name="save"></ion-icon>
        </ion-fab-button>
      </ion-fab>        
</ion-content>
