<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">   
      <ion-button color="primary" slot="start" (click)="this.modalController.dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section class="content">
    <div class="avatar">
        <label button class="new image" matRipple>
          <div class="image" matRipple>
            <img src="../../../assets/img/profile.png" alt="image">
          </div>
        </label>
    </div>
    <div class="info">
      <form class="basic">
        <mat-form-field disabled  class="example-full-width">
          <mat-label>Name</mat-label>
          <input matInput disabled [(ngModel)]="user.name" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field  class="example-full-width">
          <mat-label>Username</mat-label>
          <input matInput disabled [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field  class="example-full-width">
          <mat-label>Phone</mat-label>
          <input matInput disabled [(ngModel)]="user.phone" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field >
          <mat-label>Enter your email</mat-label>
          <input matInput disabled [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
        <mat-form-field  class="example-full-width">
          <mat-label>Website</mat-label>
          <input matInput disabled [(ngModel)]="user.website" [ngModelOptions]="{standalone: true}">
        </mat-form-field>
      </form>
      <form class="address">
        <ion-label color="primary">Addres</ion-label>
        <br>
        <mat-form-field class="example-full-width">
          <mat-label>Street</mat-label>
          <input matInput disabled [(ngModel)]="user.address.street" [ngModelOptions]="{standalone: true}">
        </mat-form-field>   
        <mat-form-field class="example-full-width">
          <mat-label>Suite</mat-label>
          <input matInput disabled [(ngModel)]="user.address.suite" [ngModelOptions]="{standalone: true}">
        </mat-form-field>   
      
        <table class="full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="full-width">
                <mat-label>City</mat-label>
              <input matInput disabled [(ngModel)]="user.address.city" [ngModelOptions]="{standalone: true}">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="full-width">
                <mat-label>Zip Code</mat-label>
                <input matInput disabled [(ngModel)]="user.address.zipcode" [ngModelOptions]="{standalone: true}">
              </mat-form-field>
            </td>
          </tr>
        </table>
        <ion-label color="primary">Company</ion-label>
        <br>
        <mat-form-field class="full-width">
          <mat-label>Name</mat-label>
          <input matInput disabled [(ngModel)]="user.company.name" [ngModelOptions]="{standalone: true}">
        </mat-form-field>     
        <mat-form-field class="full-width">
          <mat-label>Catch phrase</mat-label>
          <input matInput disabled [(ngModel)]="user.company.catchPhrase" [ngModelOptions]="{standalone: true}">
        </mat-form-field>     
        <mat-form-field class="full-width">
          <mat-label>Bs</mat-label>
          <input matInput disabled [(ngModel)]="user.company.bs" [ngModelOptions]="{standalone: true}">
        </mat-form-field>     
      </form>
    </div>
  </section>
</ion-content>
