<ion-content>
  <section class="items" *ngIf="users.length > 0">
    <ion-item class="cursor-pointer" *ngFor="let user of users" (click)="presentModal(user)">
      <ion-avatar slot="start">
        <img src="../../../assets/img/profile.png" alt="">
      </ion-avatar>
      <ion-label>
        <h3>{{user.name | titlecase}}</h3>
        <p>{{user.username | lowercase}}</p>
      </ion-label>
    </ion-item>
  </section>
  <section class="exqueleton" *ngIf="users.length <= 0">
    <ion-item class="cursor-pointer" *ngFor="let item of counts">
      <ion-avatar slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-avatar>
      <ion-label>
        <h3>
          <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </section>
</ion-content>
