ion-content{
    padding: 50px 20px;
    width: 100%;
    section{
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        width: 100%;
        ion-card{
            width: 100%;
            max-width: 600px;
            margin: 20px;
            ion-card-content{
                padding: 30px 50px;
            }
            ion-item{
                height: auto !important;
                ion-label{
                    h3{
                        font-weight: bold;
                    }
                }
            }
        }
    }
}