<ion-content>
  <section *ngIf="posts.length > 0">
    <ion-card *ngFor="let post of posts; let i = index">
      <ion-card-header>
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../../assets/img/profile.png" alt="">
          </ion-avatar>
          <ion-label >
            <h2>{{post.author.name | titlecase}}</h2>
            <p>{{post.author.username | lowercase}}</p>
          </ion-label>
          <ng-container *ngIf="post.userId == usersService.user.id">   
            <ion-icon class="cursor-pointer"  slot="end" name="trash" color="primary" (click)="deletePost(post.id, i)"></ion-icon>
            <ion-icon class="cursor-pointer"  slot="end" name="pencil" color="primary" (click)="editPost(i)"></ion-icon>
          </ng-container>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
        <ion-card-title>{{post.title | titlecase}}</ion-card-title>
        <ion-card-subtitle>{{post.body}}</ion-card-subtitle>
      </ion-card-content>
      <ion-item class="cursor-pointer" *ngFor="let com of post.comments; let j = index" (click)="openComment(i,j)">
        <ion-avatar slot="start">
          <img src="../../../assets/img/profile.png">
        </ion-avatar>
        <ion-label>
          <h3>{{com.name | titlecase}}</h3>
          <h4>{{com.email | lowercase}}</h4>
          <p>{{com.body}}</p>
        </ion-label>
      </ion-item>
    </ion-card>
  </section>
  <section *ngIf="posts.length <= 0">
    <ion-card animated>
      <ion-card-header>
        <ion-item>
          <ion-avatar slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-avatar>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
      </ion-card-content>
      <ion-item>
        <ion-label>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-card> 
    <ion-card animated>
      <ion-card-header>
        <ion-item>
          <ion-avatar slot="start">
            <ion-skeleton-text animated></ion-skeleton-text>
          </ion-avatar>
          <ion-label>
            <h3>
              <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text animated style="width: 20%"></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-card-header>
      <ion-card-content>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
       <br>
      </ion-card-content>
      <ion-item>
        <ion-label>
          <p>
            <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-card> 
  </section>
  <ion-fab (click)="createPost()" vertical="bottom" color="primary" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="color-wand"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
